.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.card-img-top {
  height: 200px;
  object-fit: cover;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #66717a;
}

footer a:hover {
  color: #0278ee;
  text-decoration: none;
}

.mt-3 {
  text-align: center;
}

.d1 {
  text-align: center;
}

h3 {
  font-style: italic;
}

.dropdown-item:hover {
  text-decoration: none;
}

.ss {
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
}
.ss:hover {
  text-shadow: white 0px 0px 5px;
  font-size: 1.95rem;
  transition: all 0.1s ease-in-out;
}

.mn:hover {
  text-shadow: white 0px 5px 5px;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.card-text {
  font-size: 1rem;
  font-weight: bold;
  color: red;
  text-align: left;
}

.card {
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 0px 30px black;
  border: #6c757d;
  transition: all 0.2s ease;
}

.card-body {
  background-color: #ffffff;
  border-radius: 10px;
}

.card-title {
  font-size: 0.95rem;
  font-weight: bold;
  text-align: left;
}

body {
  padding-top: 70px;
}
.search-box::placeholder {
  color: #434a52;
  font-weight: 600;
  opacity: 1;
}
.mn1 {
  background-color: rgb(253, 251, 251);
  border-radius: 0.5rem;
}

.mn2 {
  color: rgb(69, 67, 67);
}

.mn2:hover {
  color: black !important;
  font-size: 1.2rem;
  text-shadow: white 0px 5px 5px;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}